/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    float:none;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center;
    width: 100%;
}


/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 5px;
    text-align: center;
    animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}